#MAX img size to upload in bytes
NEXT_PUBLIC_MAX_IMG_SIZE=921600

#folder name where the images are saved in server
IMAGE_UPLOAD_DIRECTORY=uploads

#complete server url
IMAGE_SERVER_URL = "http://localhost:3000/uploads";

#Chave usada para assinar os tokens JWT
#coloque sua secret key aqui 
JWT_SECRETE_KEY='SUA_SECRET_KEY'

#Tempo para o login expirar (mesmo valor para seconds e string)
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

#Nome do Cookie usado para login 
LOGIN_COOKIE_NAME='exampleCookie'

#Nome do seu usuário + hash de senha em base64 para logar em admin/login
LOGIN_USER='seu user aqui'
#use o arquivo npx tsx src/utils/generate-hashed-password.ts (npx tsx) para gerar um hash de senha
LOGIN_PASS='SEU_HASH_DE_SENHA_AQUI'

#Permite ou não login (não=0 sim=1)
ALLOW_SIGN=1